@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
    scroll-behavior: smooth;
}
:root {
    --color-primary: #18181a;
    --color-secondary: #75757c;
    --color-dark: #364c62;
    --color-light: #f5f5f5;
    --font-family-primary: "Roboto Mono", monospace;
    --font-family-secondary: "Rubik Mono One", sans-serif;
    --td: 150ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-secondary {
    border: 1px solid #000;
    margin: 30px;
    display: inline-block;
    background: #fff;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.btn-secondary:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
.colab-container {
    margin: 40px auto;
    width: 1500px;
    height: fit-content;
    display: grid;
    grid-template-columns: c;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.hidden {
    visibility: hidden;
}
.colab-container-two {
    margin: 10px auto;
    width: 500px;
    height: fit-content;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.sponsor-container {
    margin: 70px auto;
    width: 1500px;
    height: fit-content;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.partner-container {
    margin: 70px auto;
    width: 400px;
    height: fit-content;
    display: grid;
    grid-template-columns: 400px;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.partner-container-un {
    margin: 60px auto;
    width: 500px;
    height: fit-content;
    display: grid;
    grid-template-columns: 500px;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
.unfpa {
    text-align: center;
}
#more1 {
    display: none;
}
#more2 {
    display: none;
}
#more3 {
    display: none;
}
#more4 {
    display: none;
}
#more5 {
    display: none;
}
#more6 {
    display: none;
}
.box {
    border-radius: 0px;
    padding: 20px;
}
.colab-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
}
.colab-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.colab-desc {
    width: 60%;
    height: 100%;
    line-height: 40px;
    text-align: justify;
}
/* Modal */
/* The Modal (background) */
.modal {
    display: none;
   /* Hidden by default */
    position: fixed;
   /* Stay in place */
    z-index: 1;
   /* Sit on top */
    padding-top: 100px;
   /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
   /* Full width */
    height: 100%;
   /* Full height */
    overflow: auto;
   /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
   /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* hamburger menu start */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 45rem;
    background: #000;
    padding: 1rem;
}
.page-container > * + * {
    margin-top: 1.5rem;
}
.nav-main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: -100%;
    position: fixed;
    transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
    width: 100%;
}
.nav-main::before, .nav-main::after {
    content: "";
    background-color: var(--color-primary);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform calc(var(--td) * 2) var(--td) var(--te);
    width: 100%;
    z-index: -100;
}
.nav-main::before {
    top: 0;
}
.nav-main::after {
    bottom: 0;
}
.nav-main .menu__item {
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
[id="main-navigation-toggle"] {
    opacity: 0;
    position: fixed;
    top: -100%;
}
[id="main-navigation-toggle"] ~ label {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: none;
    z-index: 999;
}
[id="main-navigation-toggle"] ~ label span {
    display: block;
    height: 2rem;
    padding: 0.5rem;
    position: relative;
    transition: transform calc(var(--td) * 3) var(--te);
    width: 2.3rem;
}
[id="main-navigation-toggle"] ~ label span::before, [id="main-navigation-toggle"] ~ label span::after {
    background-color: var(--color-dark);
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: transform calc(var(--td) * 3) var(--te);
    top: 0;
    width: calc(100% - 1rem);
}
[id="main-navigation-toggle"] ~ label span::before {
    transform: rotate(0) translateY(-100%);
}
[id="main-navigation-toggle"] ~ label span::after {
    transform: rotate(0) translateY(100%);
}
[id="main-navigation-toggle"]:checked ~ label span {
    transform: rotate(1turn);
}
[id="main-navigation-toggle"]:checked ~ label span::before {
    transform: rotate(45deg);
}
[id="main-navigation-toggle"]:checked ~ label span::after {
    transform: rotate(-45deg);
}
[id="main-navigation-toggle"]:checked ~ .nav-main {
    left: 0;
    transition: transform 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::before, [id="main-navigation-toggle"]:checked ~ .nav-main::after {
    transform: translateX(0);
    transition-delay: 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::after {
    transition-delay: calc(var(--td) / 2);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item {
    opacity: 1;
    transform: translateX(0);
    transition: opacity calc(var(--td) * 2) var(--te), transform calc(var(--td) * 2) var(--te);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(1) {
    transition-delay: calc(var(--td) * 2 * (1 * 0.25));
    z-index: -1;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(2) {
    transition-delay: calc(var(--td) * 2 * (2 * 0.25));
    z-index: -2;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(3) {
    transition-delay: calc(var(--td) * 2 * (3 * 0.25));
    z-index: -3;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(4) {
    transition-delay: calc(var(--td) * 2 * (4 * 0.25));
    z-index: -4;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(5) {
    transition-delay: calc(var(--td) * 2 * (5 * 0.25));
    z-index: -5;
}
.menu {
    position: relative;
    text-align: center;
    z-index: 1;
}
.menu > .menu__item {
    font-family: var(--font-family-secondary);
    font-size: 7vmin;
}
.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(-10%);
    top: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 9999;
}
.submenu .menu__item {
    font-family: var(--font-family-primary);
    font-size: 3.5vmin;
    width: 100%;
}
.submenu .menu__link {
    color: var(--color-secondary);
    text-shadow: 1px 1px 0 var(--color-primary), 2px 2px 0 var(--color-primary);
}
.submenu .menu__link::before, .submenu .menu__link::after {
    display: none;
}
.menu__item {
    display: block;
    position: relative;
}
.menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after {
    animation: blink 1s var(--td) steps(1, end) forwards infinite;
    transform: translateX(calc(100% - 0.5rem));
    transition-duration: calc(var(--td) * 3);
}
.menu__item:hover .menu__link::after {
    transition-delay: calc(var(--td) / 2);
}
.menu__item:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te), opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te), visibility 0s calc(var(--td) * 3);
    visibility: visible;
}
.menu__link {
    color: var(--color-dark);
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    padding: 0.5rem 1rem 0.125rem;
    position: relative;
    text-decoration: none;
    transition: color var(--td) var(--te), opacity var(--td) var(--te), transform var(--td) var(--te);
    z-index: 1;
}
.menu__link::before, .menu__link::after {
    content: "";
    background-color: var(--color-light);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform 0s var(--te);
    width: 100%;
    z-index: -1;
}
.menu__link::before {
    top: 0;
}
.menu__link::after {
    bottom: 0;
}
.menu:not(:focus-within):not(:hover) .menu__item .menu__link {
    opacity: 1;
    transform: translate(0, 0);
}
.menu__item {
    --pull: 30%;
}
.menu__item .menu__link {
    opacity: 0.25;
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, calc(var(--pull) * -1));
}
.menu__item .submenu .menu__link {
    opacity: 1;
}
.menu__item:hover > .menu__link {
    color: var(--color-secondary);
    opacity: 1;
    transform: translate(0, 0);
}
.menu__item:hover > .menu__link:hover {
    color: var(--color-light);
    transition-delay: 0s;
}
.menu__item:hover ~ .menu__item > .menu__link {
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, var(--pull));
}
@keyframes blink {
    50%, 100% {
        opacity: 0;
   }
}
/* hamburger menu ends */
a {
    text-decoration: none !important;
    font-weight: 500 !important;
    color: #000;
}
#back {
   /* min-height: 100%;
    */
    margin-top: -80px;
    overflow: hidden;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 10;
}
.quote {
    text-align: right;
    width: 100%;
    color: #fff;
    padding: 20px 0;
}
.menu-bar {
    text-align: center;
    width: 100%;
    z-index: 20;
}
.menu-bar ul {
    display: flex;
    list-style: none;
   /* border: 1px solid #000;
    */
    justify-content: space-around;
    align-items: center;
}
.menu-bar ul li {
    width: 120px;
    font-size: 17px;
    padding: 15px 10px;
}
.sub-menu-1 {
    display: none;
    z-index: 100;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -30px;
    backdrop-filter: blur(10px);
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
#logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
#logo img {
    width: 400px;
}
/* .links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/* nav .links li a {
    color: rgb(94, 94, 224);
    font-size: 15px;
}
nav .links li a {
    margin: 20px;
}
*/
.heading {
    text-align: center;
    font-size: 55px;
    font-family: "Cormorant", serif;
    font-weight: 100;
    line-height: 65px;
    opacity: 1;
    margin-top: 70px;
}
.header-section {
    margin: 100px 0px;
}
.header {
    text-align: center;
    font-size: 55px;
    font-family: "Times New Roman", serif;
    font-weight: 600;
   /* line-height: 65px;
    */
    opacity: 1;
}
#main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 70px;
}
#main .imgcontainer {
    width: 200px;
    height: 250px;
}
#main #one, #main #six {
    width: 250px;
    height: 400px;
}
#main #one {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
#main #six {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
#main #holder1 {
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translate(0, -50%);
}
#main #holder2 {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translate(0, -50%);
}
#main .holder div {
    margin-top: 20px;
}
.hide {
    display: none;
}
#videoplayer {
    width: 300px;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    overflow: hidden;
}
#videoplayer img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main .imgcontainer {
    background-size: cover;
    background-position: center;
}
#main #one {
    background-image: url(./assets/PSY00111.JPG);
}
#main #two {
    background-image: url(./assets/img-2.JPG);
}
#main #three {
    background-image: url(./assets/DSC_0106-min.JPG);
}
#main #four {
    background-image: url(./assets/WA_2-min.JPG);
}
#main #five {
    background-image: url(./assets/WA_1-min.jpg);
}
#main #six {
    background-image: url(./assets/DSC_4021-min.JPG);
}
.videoplayer-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.btn {
    border: 2px solid #fff;
    color: #fff;
    margin: 10px 20px;
    text-align: center;
    width: 200px;
    border-radius: 3px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}
.btn:hover {
    background-color: #fff;
    border-radius: 3px;
    color: #000;
}
.center-text {
    text-align: center;
    color: #fff;
}
.unsg-section {
    padding: 50px;
    margin-top: 70px;
    width: 100%;
}
#unsg-vid {
    width: 100%;
    height: 100%;
}
.section {
    padding: 50px;
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-rev {
    padding: 50px;
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.img-text-container {
    width: 30%;
}
.message {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
}
.unsg-message {
    width: 100%;
    height: 600px;
}
.img-text-container p {
    margin-top: 20px;
    text-align: center;
   /* line-height: 22px;
    */
    font-size: 20px;
}
#sec-gen-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-right: 40px;
   /* background-image: url(./assets/IMG_6182.JPG);
    */
    background-image: url(./sec-photos/2023/WhatsApp\ Image\ 2023-01-18\ at\ 6.41.02\ PM.jpeg);
}
#sec-gen-msg {
    width: 100%;
    line-height: 40px;
    text-align: justify;
   /* margin-left: 40px;
    */
    font-size: 17px;
    padding: 0 20px;
}
#sec-gen-regards {
    color: grey;
    padding: 20px;
    width: 70%;
   /* margin-left: 40px;
    */
    line-height: 30px;
}
.section-sponsors {
    margin: 0%;
    padding: 0%;
    width: 100%;
   /* height: 100%;
    */
}
.project-title h1 {
    font-weight: 300;
}
.project-categ {
    font-weight: lighter;
}
.cursor {
    position: absolute;
    width: 300px;
    object-fit: cover;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: scale(0.1);
    opacity: 0;
    margin: -100px 0 0 -100px;
   /* background: url(./image-1.jpg) no-repeat 50% 50%;
    */
    background-size: cover;
    z-index: 1;
}
.wrapper {
    width: 80%;
    margin: 90px auto;
    height: 100%;
}
.project {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 1;
    position: relative;
    margin: 40px 0;
    z-index: 4;
   /* color: white;
    */
    will-change: opacity;
    mix-blend-mode: difference;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
hr {
    text-align: center;
    width: 400px;
    margin: 30px auto;
}
#timer {
    color: #fff;
    font-size: 40px;
    padding: 20px;
}
footer {
   /* position: absolute;
    bottom: 0;
    */
    background: #fff;
    min-height: 60vh;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #000;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: grey;
}
.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}
.socials a:hover i {
    color: #000;
}
.regards {
    color: grey;
    display: block;
}
.footer-bottom {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #0c0c80;
    color: white;
    fill: white;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
.content-one, .content-two, .content-three {
    font-weight: bolder;
    width: 100%;
    height: 50vh;
}
.content-two {
    height: 70vh;
    display: block;
    padding-bottom: 4rem;
}
.contact {
    margin-top: 30px;
}
.contact h5, .contact p {
    line-height: normal;
}
.comming-soon {
    color: rgb(133, 133, 133);
    text-align: center;
    margin: 100px 0px;
}
/* .header-text-center{
    font-size: 25px;
}
*/
.banner {
    background: linear-gradient(to right, #c2ebf5, navy);
    padding: 10px 0;
    text-align: center;
    color: #fff;
}
.banner a {
    color: #fff;
    text-decoration: underline;
}
.header-sec {
    text-align: center;
    font-family: "Cormorant", serif;
   /* font-weight: 400;
    */
    font-size: 35px;
    color: #000;
}
.theme {
    font-style: italic;
   /* font-weight: 600;
    */
    font-weight: bolder;
   /* font-family: 'Times New Roman', Times, serif;
    */
}
.responsive-quote {
    width: 100%;
    display: none;
}
.responsive-quote-teller {
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 5px;
}
.responsive-center-text {
    font-size: 18px;
    width: 100%;
    padding: 20px;
    text-align: justify;
}
.responsive-btn {
    border: 2px solid #000;
    color: #000;
    margin: 10px 20px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}
iframe {
    width: 600px;
    height: 220px;
}
.responsive-btn:hover {
    border-radius: 3px;
    background-color: #000;
    color: #fff;
}
@media only screen and (max-width: 414px) {
    .unfpa {
        text-align: center;
        font-size: 15px;
   }
    .unsg-section {
        padding: 20px;
        margin-top: 70px;
        width: 100%;
   }
    .unsg-message {
        height: 350px;
   }
    .colab-container, .colab-container-two {
        margin: 70px auto;
        width: 250px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .sponsor-container {
        margin: 70px auto;
        width: 250px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .partner-container {
        margin: 70px auto;
        width: 300px;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .footer-bottom {
        width: 100vw;
        padding: 20px 0;
        margin-top: 100px;
        text-align: center;
   }
    .index-register {
        display: none;
   }
    .footer-content p {
        padding-bottom: 5rem;
        max-width: 500px;
        margin: 10px auto;
        line-height: 18px;
        font-size: 15px;
   }
    .footer-bottom {
        background: linear-gradient(to right, #c2ebf5, navy);
   }
    .footer-content h3 {
        font-size: 20px;
   }
    iframe {
        width: 100%;
        height: 150px;
   }
    .content-one, .content-two {
        padding: 10px 0;
        margin: 10px 0;
        height: fit-content;
   }
    .conference-info {
        font-size: 15px;
   }
    hr {
        text-align: center;
        width: 200px;
        margin: 30px auto;
   }
    #sec-gen-regards {
        color: grey;
        padding: 0px;
        margin: 20px 0 0 0;
        width: 100%;
        line-height: 20px;
   }
    .message {
        margin: 30px 0px;
        flex-direction: column;
        width: 100%;
        padding: 0px;
   }
    #sec-gen-msg {
        width: 100%;
        line-height: 25px;
        padding: 5px;
        margin: 0px;
        text-align: justify;
   }
    .img-text-container {
        width: 100%;
   }
    .section, .section-rev {
        padding: 1px 20px;
        flex-direction: column;
   }
    #sec-gen-img {
        width: 100%;
        height: 350px;
   }
    .heading, .project-title-h1 {
        font-size: 25px;
        line-height: normal;
   }
    .responsive-quote {
        width: 100%;
        display: block;
   }
    #responsive-timer {
        color: #000;
        font-size: 20px;
        text-align: center;
   }
    .footer-content {
        flex-direction: column;
   }
    #videoplayer {
        width: 100%;
   }
    #main #holder1, #main #holder2, #main #one, #main #six {
        opacity: 0;
        visibility: hidden;
   }
    #vid {
        opacity: 0;
        visibility: hidden;
        display: none;
   }
    #main {
        position: relative;
        width: 100%;
        min-height: 1vh;
        margin-top: 10px;
   }
    #videoplayer {
        width: 300px;
        min-height: 1vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        overflow: hidden;
   }
    .menu-bar {
        opacity: 0;
        visibility: hidden;
   }
    #logo img {
        width: 250px;
   }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 100px;
        text-align: center;
        z-index: 100;
   }
    .header {
        text-align: center;
        font-size: 25px;
        font-family: "Cormorant", serif;
        font-weight: 100;
        line-height: 65px;
        opacity: 1;
   }
    .header-section {
        margin: 10px 0px;
   }
    .header-sec {
        font-size: 22px;
   }
}
.partner-container-un {
    margin: 60px auto;
    width: 450px;
    height: fit-content;
    display: grid;
    grid-template-columns: 450px;
    grid-row: auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}
@media only screen and (max-width: 639px) and (min-width: 315px) {
    .unfpa {
        text-align: center;
        font-size: 15px;
   }
    .unsg-section {
        padding: 20px;
        margin-top: 70px;
        width: 100%;
   }
    .unsg-message {
        height: 350px;
   }
    .colab-container, .colab-container-two {
        margin: 70px auto;
        width: 250px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .sponsor-container {
        margin: 70px auto;
        width: 250px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .index-register {
        display: none;
   }
    .partner-container {
        margin: 70px auto;
        width: 300px;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .partner-container-un {
        margin: 60px auto;
        width: 320px;
        height: fit-content;
        display: grid;
        grid-template-columns: 320px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .colab-info-container {
        width: 100%;
        margin: 50px 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
   }
    .colab-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 40px;
   }
    .colab-desc {
        width: 90%;
        height: 100%;
        line-height: 40px;
        text-align: justify;
   }
    .footer-bottom {
        width: 100vw;
        padding: 20px 0;
        margin-top: 10px;
        text-align: center;
   }
    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 18px;
        font-size: 15px;
   }
    .footer-content h3 {
        font-size: 20px;
   }
    iframe {
        width: 100%;
        height: 150px;
   }
    .content-one, .content-two {
        padding: 10px 0;
        margin: 10px 0;
        height: fit-content;
   }
    .conference-info {
        font-size: 15px;
   }
    hr {
        text-align: center;
        width: 200px;
        margin: 30px auto;
   }
    #sec-gen-regards {
        color: grey;
        padding: 0px;
        margin: 20px 0 0 0;
        width: 100%;
        line-height: 20px;
   }
    .message {
        margin: 30px 0px;
        flex-direction: column;
        width: 100%;
        padding: 0px;
   }
    #sec-gen-msg {
        width: 100%;
        line-height: 25px;
        padding: 10px;
        margin: 0px;
        text-align: justify;
   }
    .img-text-container {
        width: 100%;
   }
    .section, .section-rev {
        padding: 1px 20px;
        flex-direction: column;
   }
    #sec-gen-img {
        width: 100%;
        height: 350px;
   }
    .heading, .project-title-h1 {
        font-size: 25px;
        line-height: normal;
   }
    .responsive-quote {
        width: 100%;
        display: block;
   }
    #responsive-timer {
        color: #000;
        font-size: 20px;
        text-align: center;
   }
    .footer-content {
        flex-direction: column;
   }
    #videoplayer {
        width: 100%;
   }
    #main #holder1, #main #holder2, #main #one, #main #six {
        opacity: 0;
        visibility: hidden;
   }
    #vid {
        opacity: 0;
        visibility: hidden;
        display: none;
   }
    #main {
        position: relative;
        width: 100%;
        min-height: 1vh;
        margin-top: 10px;
   }
    #videoplayer {
        width: 300px;
        min-height: 1vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        overflow: hidden;
   }
    .menu-bar {
        opacity: 0;
        visibility: hidden;
   }
    #logo img {
        width: 250px;
   }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        text-align: center;
        z-index: 100;
   }
    .header {
        text-align: center;
        font-size: 25px;
        font-family: "Cormorant", serif;
        font-weight: 100;
        line-height: 65px;
        opacity: 1;
   }
    .header-section {
        margin: 10px 0px;
   }
    .header-sec {
        font-size: 22px;
   }
}
@media only screen and (max-width: 834px) and (min-width: 639px) {
    .unfpa {
        text-align: center;
        font-size: 18px;
   }
    .unsg-section {
        padding: 20px;
        margin-top: 70px;
        width: 100%;
   }
    .unsg-message {
        height: 350px;
   }
    .colab-container, .colab-container-two {
        margin: 70px auto;
        width: 530px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .sponsor-container {
        margin: 70px auto;
        width: 500px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .index-register {
        display: none;
   }
    .partner-container {
        margin: 70px auto;
        width: 300px;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .colab-info-container {
        width: 100%;
        margin: 50px 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
   }
    .colab-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 40px;
   }
    .colab-desc {
        width: 90%;
        height: 100%;
        line-height: 40px;
        text-align: justify;
   }
    .footer-bottom {
        width: 100vw;
        padding: 20px 0;
        margin-top: 10px;
        text-align: center;
   }
    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 18px;
        font-size: 15px;
   }
    .footer-content h3 {
        font-size: 20px;
   }
    iframe {
        width: 100%;
        height: 200px;
   }
    .content-one, .content-two {
        padding: 10px 0;
        margin: 10px 0;
        height: fit-content;
   }
    .conference-info {
        font-size: 15px;
   }
    hr {
        text-align: center;
        width: 200px;
        margin: 30px auto;
   }
    #sec-gen-regards {
        color: grey;
        padding: 0px;
        margin: 20px 0 0 0;
        width: 100%;
        line-height: 20px;
   }
    .message {
        margin: 30px 0px;
        flex-direction: column;
        width: 100%;
        padding: 0px;
   }
    #sec-gen-msg {
        width: 100%;
        line-height: 25px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
   }
    .img-text-container {
        width: 100%;
   }
    .section, .section-rev {
        padding: 1px 20px;
        flex-direction: column;
   }
    #sec-gen-img {
        width: 100%;
        height: 450px;
   }
    .heading, .project-title-h1 {
        font-size: 30px;
        line-height: normal;
   }
    .responsive-quote {
        width: 100%;
        display: block;
   }
    #responsive-timer {
        color: #000;
        font-size: 20px;
        text-align: center;
   }
    .footer-content {
        flex-direction: column;
        overflow: hidden;
   }
    #videoplayer {
        width: 100%;
   }
    #main #holder1, #main #holder2, #main #one, #main #six {
        opacity: 0;
        visibility: hidden;
   }
    #vid {
        opacity: 0;
        visibility: hidden;
        display: none;
   }
    #main {
        position: relative;
        width: 100%;
        min-height: 1vh;
        margin-top: 10px;
   }
    #videoplayer {
        width: 300px;
        min-height: 1vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        overflow: hidden;
   }
    .menu-bar {
        opacity: 0;
        visibility: hidden;
   }
    #logo img {
        width: 250px;
   }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        text-align: center;
        z-index: 100;
   }
    .header {
        text-align: center;
        font-size: 25px;
        font-family: "Cormorant", serif;
        font-weight: 100;
        line-height: 65px;
        opacity: 1;
   }
    .header-section {
        margin: 10px 0px;
   }
    .header-sec {
        font-size: 22px;
   }
}
@media only screen and (max-width: 1220px) and (min-width: 835px) {
    .unfpa {
        text-align: center;
        font-size: 19px;
   }
    .unsg-section {
        padding: 20px;
        margin-top: 70px;
        width: 100%;
   }
    .colab-container, .colab-container-two {
        margin: 70px auto;
        width: 530px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .sponsor-container {
        margin: 70px auto;
        width: 500px;
        height: fit-content;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .partner-container {
        margin: 70px auto;
        width: 300px;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px;
        grid-row: auto;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
   }
    .index-register {
        display: none;
   }
    .colab-info-container {
        width: 100%;
        margin: 50px 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
   }
    .colab-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 40px;
   }
    .colab-desc {
        width: 90%;
        height: 100%;
        line-height: 40px;
        text-align: justify;
   }
    .footer-bottom {
        width: 100vw;
        padding: 20px 0;
        margin-top: 10px;
        text-align: center;
   }
    .footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 18px;
        font-size: 15px;
   }
    .footer-content h3 {
        font-size: 20px;
   }
    iframe {
        width: 100%;
        height: 280px;
   }
    .content-one, .content-two {
        padding: 10px 0;
        margin: 10px 0;
        height: fit-content;
   }
    .conference-info {
        font-size: 15px;
   }
    hr {
        text-align: center;
        width: 200px;
        margin: 30px auto;
   }
    #sec-gen-regards {
        color: grey;
        padding: 0px;
        margin: 20px 0 0 0;
        width: 100%;
        line-height: 20px;
   }
    .message {
        margin: 30px 0px;
        flex-direction: column;
        width: 100%;
        padding: 0px;
   }
    #sec-gen-msg {
        width: 100%;
        line-height: 25px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
   }
    .img-text-container {
        width: 100%;
   }
    .section, .section-rev {
        padding: 1px 20px;
        flex-direction: column;
   }
    #sec-gen-img {
        width: 100%;
        height: 650px;
   }
    .heading, .project-title-h1 {
        font-size: 25px;
        line-height: normal;
   }
    .responsive-quote {
        width: 100%;
        display: block;
   }
    #responsive-timer {
        color: #000;
        font-size: 20px;
        text-align: center;
   }
    .footer-content {
        flex-direction: column;
   }
    #videoplayer {
        width: 100%;
   }
    #main #holder1, #main #holder2, #main #one, #main #six {
        opacity: 0;
        visibility: hidden;
   }
    #vid {
        opacity: 0;
        visibility: hidden;
        display: none;
   }
    #main {
        position: relative;
        width: 100%;
        min-height: 1vh;
        margin-top: 10px;
   }
    #videoplayer {
        width: 300px;
        min-height: 1vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        overflow: hidden;
   }
    .menu-bar {
        opacity: 0;
        visibility: hidden;
   }
    #logo img {
        width: 250px;
   }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        text-align: center;
        z-index: 100;
   }
    .header {
        text-align: center;
        font-size: 25px;
        font-family: "Cormorant", serif;
        font-weight: 100;
        line-height: 65px;
        opacity: 1;
   }
    .header-section {
        margin: 10px 0px;
   }
    .header-sec {
        font-size: 22px;
   }
}

@media only screen and (max-width: 1221px) {
    #back{
        margin-top: -70px;
    }
    #logo{
        margin-top: 100px;
        justify-content: left;
   }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 100px 0;
        width: 100%;
        height: 100px;
        text-align: center;
        z-index: 900;
   }
    [id="main-navigation-toggle"] ~ label {
        cursor: pointer;
        position: fixed;
        right: 1rem;
        top: 4rem;
        display: block;
        z-index: 9999;
   }
}
@media screen and (max-height: 600px) {
    .footer-bottom {
        margin-top: 10rem;
   }
}
